/* common */

:root{
  --monkeybord: #af737d;
  --othor: #8fafa6;
}

html{
  height: 100%;
}
body{
  height: 100%;
  font-family:'Times New Roman', Times, serif;
}

/* header */

header{
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-size: 50px;
  color: var(--monkeybord);
  text-align: center;
  font-family: 'Kaisei HarunoUmi', serif;
}
header h1 span{
  font-size: 36px;
  color: var(--monkeybord);
  margin: -3px;
}
#theorem{
  writing-mode: vertical-rl;
  font-size: 22px;
  line-height: 20px;
  margin: 0;
  position: relative;
  top: 4px;
  left: 1px;
}

/* main */

main{
  text-align: center;
  height: calc(100% - 120px);
  overflow: hidden;
  background-color: #fff;
}
#input{
  margin: 10px 0 10px;
}
#text{
  background-color: var(--othor);
  color: #fff;
  outline: none;
  border-radius: 2px;
  width: 250px;
  height: 30px;
}
#btn{
  width: 200px;
  height: 30px;
  line-height: 30px;
  margin: 8px auto;
  border: 1px solid var(--monkeybord);
  border-radius: 2px;
  background-color: var(--monkeybord);
  color: #fff;
  cursor: pointer;
  transition: all .6s;
}
#btn.disabled{
  pointer-events: none;
  background-color: #fff;
  color: var(--monkeybord);
}
#forecast{
  height: 20px;
  margin: 8px 0;
  color: #555;
}
#result{
  min-width: 200px;
  max-width: 400px;
  height: 30px;
  line-height: 30px;
  margin: 8px auto;
  border: 2px solid var(--othor);
  border-radius: 2px;
  color: var(--othor);
}
#monkeybord{
  overflow-y: scroll;
  height: calc(100% - 280px);
}
#monkey{
  width: 100%;
  overflow-wrap: break-word;
}
#monkey.success{
  background-color: var(--othor);
}
span{
  color: rgba(209, 4, 4, 0.623);
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background: var(--monkeybord);
}
.commentary{
  max-width: 480px;
  margin: 20px auto;
  color: #555;
}
.commentary dd{
  margin: 10px;
}

/* footer */

footer{
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  color: var(--monkeybord);
}
